body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: var(--color-black-1);
    color :white;
    background-image:"./back.jpg";
}

.code_container{
    border: 1px solid white;
    padding: 20px;
    margin: 20px;
    line-height: 70px;
}

.admin_container{
    display: flex;
    padding: 10px;
    justify-content: center;
    flex-wrap: wrap;
    /* align-items: center; */
}

.admin_item{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16vw;
    width: 16vw;
    margin: 10px;
    padding: 10px;
    border: 1px solid white;
    text-align: center;
    border-radius: 100%;
    background-color: rgb(40, 39, 39);
}


.App{
    text-align: center;
}

.client_container{
    border: 1px solid white;
    line-height: 70px;
    margin: 30px;
    padding: 60px;
    /* border-radius: 100%; */
    display: flex;
}
.client_container input{
    font-size: 3em;
    width: 5em;
    text-align: center;
}


.client_submit{

    font-size: 3em;    
    background-color: aliceblue;
    border-radius: 70%;
    padding: 10px;
    margin: 20px;
}

.codenumber{
    width: 5em;
}



.ir_container{
    border: 1px solid white;
    padding: 130px;
    border-radius: 100%;
}
.ir_container:hover{
    border: 3px solid white;
    background-color: rgba(10, 108, 194, 0.05);
    cursor: pointer;
}


.ir_container h1{
 
    font-size: 4em;
}

























